{% extends "MyFinalProject/base.html" %}
{% comment %}
{% block content %}
<h1>{{com}}</h1>
{% for c in od %}
<h1>quantity: {{c.quantity}}</h1>
{% endfor %}
 {% for menu in menuItems%}
 <ul>{{menu}}</ul>
 {% endfor%}
<a href="/MyFinalProject/company">Back</a>
{% endblock %}
{% endcomment %}

{% block content %}
<h1>{{com}}</h1>
<form name="Menu" method="post" action="/MyFinalProject/confirm">
	{% for item in menuItems %}
		<ul>{{item}}: <input type="item{{item.price}}" name="item{{item.id}}" value="0"> </ul>
	{% endfor %}
<input type="submit">
</form>
{% endblock %}

