{% extends "MyFinalProject/base.html" %}
{% comment %}
{% block content %}
<h1>{{com}}</h1>
{% for c in od %}
<h1>quantity: {{c.quantity}}</h1>
{% endfor %}
 {% for menu in menuItems%}
 <ul>{{menu}}</ul>
 {% endfor%}
<a href="/MyFinalProject/company">Back</a>
{% endblock %}
{% endcomment %}

{% block content %}
<form name="Menu" method="post" action="/MyFinalProject/confirm">
	{% for item in menuItems %}
		<ul>{{item}}: <input type="text" name="item{{item.id}}" value="0"> </ul>
	{% endfor %}
	<ul>telephone Number: <input type="text" name="tel" value="0"> </ul>
<input type="submit">
</form>
<form name="" method="" action="./1">
Your total amount is <input type="text" name="" value="{{total}}"></br>
</form>
{% endblock %}

