{% extends "MyFinalProject/base.html" %}

{% block content %}
{% for item in menuItems %}
	{{item}}{{quant}}</br>
{% endfor %}
<form method='post' action="">
{{ form }}
<input type='submit' name='Submit'>
</form>
<a href="/MyFinalProject/company">Back</a>
{% endblock %}






{% comment %}
{{form1}}
{% block content %}
<form name="Menu" method="post" action="/MyFinalProject/confirm">
	{% for item in menuItems %}
		<ul>{{item}}: <input type="text" name="item{{item.id}}" value="0"> </ul>
	{% endfor %}
	<ul>telephone Number: <input type="text" name="tel" value="0"> </ul>
<input type="submit">
</form>
<form name="" method="" action="./1">
Your total amount is <input type="text" name="" value="{{total}}"></br>
</form>
{% endblock %}
{% endcomment %}

