{% extends "MyFinalProject/base.html" %}
{% block content %}


<style type="text/css">
.mHomeFeaturesItem {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center top , white, #F4F4F4);
    border-color: #D0D0D0 -moz-use-text-color -moz-use-text-color;
    border-style: solid none none;
    border-width: 1px 0 0;
    clear: both;
    display: block;
    line-height: 1.3em;
    min-height: 75px;
    padding: 10px;
}
a {
    color: #006666;
    font-weight: bold;
    text-decoration: none;
}

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
</style>







<form method="post" action="">
{% for detail in orders %}
	<h><b><i><hr>New Order</hr></i></b></h></br>
	<h>The customer with telephone number <b>0{{detail.phonenumber}}</b> has ordered for the following menu items:</h>
	<ul>
	    <ul>{% for thing in detail.placedorder %}
			<li>{{thing}}</li>
		{% endfor %}
	    </ul>
	      <div><b>Amount</b> :{{ detail.total }}</div>
              <div><b>Date</b> :{{ detail.created }}</div>
		{% if detail.ispaid %}
			<a class="mHomeFeaturesItem" name="" href="/MyFinalProject/restaurant/{{comp_id}}/check_{{detail.id}}=False">
			<div><b>Paid</b> :{{ detail.ispaid }}<input type="checkbox" checked="yes" name="check"></div>
		{% else %}
			<a class="mHomeFeaturesItem" name="" href="/MyFinalProject/restaurant/{{comp_id}}/check_{{detail.id}}=True">
			<div><b>Paid</b> :{{ detail.ispaid }}<input type="checkbox" name="check"></div>
		{% endif %}
			</a>
	</ul>
	</br>
{% endfor %}
</form>

{% endblock %}
{% block title %}RESTAURANT{% endblock%}





